

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f4f4f9; */
    /* color: #333; */
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(122, 131, 212);;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

/* .separator {
    margin: 40px 0;
    border: 1px solid #ccc;
} */

/* Home Section */
.home {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease forwards, slideIn 1s ease-out forwards ;
    
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}

.right-side img {
    margin-left: 70px;
    width: 100%;
    height: 100%;
    max-width: 550px;
    /* opacity: 0; */
    transform: translateX(100%);
    animation: fadeInSlideLeft 2s ease-in-out forwards;
}

.animate-text {
    font-size: 2.8rem;
    color:rgb(95, 94, 199);
    opacity: 0;
    transform: translateX(-50%);
    animation: slideIn 3s ease-out infinite;
}

span{
    color: rgb(95, 94, 199);
    font-weight: bold;
    font-size: 1.5rem;
    animation: slideIn 3s ease-out infinite;

}

.cv-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(95, 94, 199);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #183f68;
}

/* Keyframes for animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeInSlideRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* vertical design */

.vertical_text{
    transform: rotate(90deg);
    color: rgb(95, 94, 199);
    text-orientation: upright;
    display: flex;
    gap: 180px;
    height: 0%;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 80px;
    /* animation: slideIn 3s ease-out infinite; */

    
}

.vertical-line {
    width: 2px;
    height: 750px; 
    background-color: black; 
    margin-left: 10px;
    margin-right: 10px;
}



/* about css */

.about{
    display: flex;
    height: 100vh;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 10px; */
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease forwards, slideIn 1s ease-out forwards ;
}

.about img{
    margin-top: 50px;
    height: 520px;
    max-width: 550px;
    margin-right: 120px
}

.about_text {
    max-width: 800px;
    margin: 50px auto;
    
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in ;
}

.about_text h2 {
    color: rgb(95, 94, 199);
    font-size: 2.5rem;
    /* color: #2c3e50; */
    /* margin-bottom: 20px; */
    text-align: center;
    animation: slideIn 3s ease-out infinite;
}

.about_text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about_text li {
    margin: 10px 0;
    color: rgb(95, 94, 199);
    font-size: 1.02rem;
    transition: color 0.3s ease;
}

.about_text li:hover {
    color: rgb(95, 94, 199);
}

.about_text h3 {
    margin-top: 30px;
    font-size: 1.75rem;
    color: rgb(95, 94, 199);
    /* color: #2980b9; */
    /* border-bottom: 2px solid #2980b9; */
    padding-bottom: 10px;
}

.icons {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.4);
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; } infinte
}
/* services css */

/* General Layout */
.services {
    display: flex;
    height: 100vh; /*Full height of the viewport*/
    /* animation: fadeIn 1s ease forwards, slideIn 1s ease-out forwards ; */

}

.services h2{
    animation: slideIn 3s ease-out infinite;

}


/* Left Section (Services) */
.left-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(95, 94, 199);
    background-color: #e2dfe6; /* Light background color for services */
}

/* Right Section (Projects) */
.right-section {
    flex: 1;
    padding: 20px;
    color: rgb(95, 94, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff; /* White background for projects */
}

/* Cards */
.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    /* color: rgb(38, 36, 122);; */
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-section .card{
    background-color: white;
}

.right-section .card {
    background-color: #e2dfe6;
}

.card:hover{
    transform: scale(1.05);
}







/* contact form */

.contact{
    display: flex;
    /* margin: 50px; */
    animation: fadeIn 1s ease forwards, slideIn 1s ease-out forwards ;

}


.contact_image {
    /* flex: 1; */
    padding: 20px;
    margin-right: 200px;
    /* margin-left: 500px; */
  }
  
  .contact_image img {
    /* max-width: 100%; */
    height: 500px;
  }
  
  .form {
    margin: 50px;
    /* flex: 1; */
    padding: 20px;
  }
  
  .form h2 {
    margin-bottom: 20px;
    color: rgb(38, 36, 122);
    font-size: 40px;
    animation: slideIn 3s ease-out infinite;

  }
  
  
  .input-group label {
    /* display: block; */
    display: flex;
    margin-bottom: 5px;
    /* color: rgb(73, 73, 185); */
  }
  

  .input-group {
    width: 100%;
    padding: 8px;
    /* display: flex; */
    justify-content: center;
  }

  .input-group input{
    width: 400px;
    height: 30px;
    border-radius: 10px;

  }

  .input-group textarea{
    width: 400px;
    height: 100px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    /* border: none; */

  }
  
  button{
    background-color: rgb(95, 94, 199);
    color: white;
    padding: 10px 30px;
    margin-left: 100px;
    border: none;
    
    border-radius: 2cap;
    cursor: pointer;
  }

  button:hover{
    background-color: rgb(16, 15, 95);
  }

.contact_icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    margin-left: 300px;
     height: 40px;
    width: 40px;
    animation: slideIn 5s ease-out infinite;

 }  

.contact_icons img{
    width: 40px;
    height: 40px;
}

.contact_icons img:hover {
    transform: scale(1.4);
}